@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, this just helps me calculate sizes easily */
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
