@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  @media screen and (max-width: 1800px) {
    font-size: 80%; /* 1rem = 10px, this just helps me calculate sizes easily */
  }
  /* 1rem = 10px, this just helps me calculate sizes easily */
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

th,
td {
  padding: 6px;
}
